# Default owner
* @kogunlowo123

# Backend
/backend/ @kogunlowo123

# Frontend
/frontend/ @kogunlowo123

# Security
/security/ @kogunlowo123
/.github/workflows/ @kogunlowo123

# Infrastructure
/infrastructure/ @kogunlowo123
/gitops/ @kogunlowo123
