# Default owner
* @citadelcloud

# Backend
/backend/ @citadelcloud

# Frontend
/frontend/ @citadelcloud

# Security
/security/ @citadelcloud
/.github/workflows/ @citadelcloud

# Infrastructure
/infrastructure/ @citadelcloud
/gitops/ @citadelcloud
